*{
    text-align: center;
}
hr{
    color: red;
}
.landing-text{
    text-align: center;
    padding: 8vw;
    color: white;
}
.landing-page{
    background-image: url(../assets/landingpage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
}
.order-button{
    margin-top: 4vw;
}
#delivery, #payment, #offers, #hotels{
    display: none;
}
/* .my-image{
    transition: all 2s ease-in-out;
}
.my-image:hover{
    transform: scale(2, 2);
    cursor: progress;
} */
